
<div class="single_top">
    <div class="container">
        <div class="error-404 text-center">
            <h1>Mua thành công</h1>
            <p>Cám ơn sự ủng hộ của bạn, chúc bạn mua hàng vui vẻ</p>
            <a class="b-home" href="@Url.Action("Index","SanPham")">Back to Home</a>
        </div>
    </div>
</div>  